.ag-theme-alpine {
  width: 100%;
}

.ag-theme-alpine .ag-root-wrapper {
  border: none;
  font-size: 12px;
}
.ag-theme-alpine .ag-header {
  background-color: #e8eaf6;
  border: none;
  border-radius: 5px;
  min-height: 30px !important;
  width: fit-content;
}

.ag-theme-alpine .ag-header-cell {
  padding: 0px 10px 10px;
  color: grayscale($color: #535252);
}

.ag-theme-alpine .ag-cell {
  padding: 0px 10px;
  font-size: 12px;
  color: grayscale($color: #5f5e5e);
}
